In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('ratings_Movies_and_TV.csv',names=['reviewer','producto','rating','timestamp'])

In [8]:
df.dtypes

reviewer      object
producto      object
rating       float64
timestamp      int64
dtype: object

In [9]:
df['rating'] = df['rating'].astype(int)

In [10]:
df.head()

         reviewer    producto  rating   timestamp
0  A3R5OBKS7OM2IR  0000143502       5  1358380800
1  A3R5OBKS7OM2IR  0000143529       5  1380672000
2   AH3QC2PC1VTGP  0000143561       2  1216252800
3  A3LKP6WPMP9UKX  0000143588       5  1236902400
4   AVIY68KEPQ5ZD  0000143588       5  1232236800

In [3]:
df.to_csv('rating_movies&TV.csv',header=None,index=False)

NameError: name 'df' is not defined

In [4]:
df_2 = pd.read_csv('ratings_Home_and_Kitchen.csv',names=['reviewer','producto','rating','timestamp'])

In [5]:
df_2['rating'] = df_2['rating'].astype(int)

In [6]:
df_2.to_csv('ratings_Home&Kitchen.csv',header=None,index=False)

In [14]:
len(df)

4607047

In [15]:
len(df_2)

4253926